<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UNLV Special Collections and Archives</title>
</head>
<body>

{% if topic_results %}
    <table>
        <tr>
            <td><strong>Wikidata ID</strong></td>
            <td><strong>Topic</strong></td>
            <td><strong>Category</strong></td>
        </tr>
        {% for r in topic_results %}
            <tr>
                <td><a href="/unlv/{{ r.topic_id }}/item">{{ r.topic_id }}</a></td>
                <td>{{ r.topic_text }}</td>
                <td>{{ r.category }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Did not work</p>
{% endif %}
</body>
</html>