<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item details</title>
</head>
<body>
{% if queries %}
    <table>
        <thead>Queries run so far: </thead>

        {% for q in queries %}
            <tr>
                <td>{{ q.index }} ) </td>
                <td>{{ q.title }}</td>
                <td>{{ q.query }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No queries run yet.</p>
{% endif %}
<br><br>
{% if item_results %}
      <table>
        <thead>Details for ... </thead><br>
          <tr>
            <td><strong>ITEM_TEXT</strong></td>
            <td><strong>ITEM_PROPERTY</strong></td>
            <td><strong>ITEM_VALUE</strong></td>
            </tr>
        {% for r in item_results %}
            <tr>
                <td>{{ r.item_text }}</td>
                <td>{{ r.item_property }}</td>
                <td>{{ r.item_value }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <footer><a href="/unlv">Back to start page</a></footer>
{% else %}
    <p>Failed to find any data.</p>
{% endif %}
</body>
</html>